div#header{
    width: 1260px;
    padding: 10px;
    background-color: #ddd;
    border-radius: 6px;
}

ul#mainmenu{
    padding: 0;
    margin:0;
}

ul#mainmenu li{
    display: inline-block;
}

div#container{
    margin-top: 10px;
    width:1260px;
}

div#content{
    width:1080px;
    float: left;
    padding: 10px;
    border-radius: 6px;
    background-color: #EFF1EB;
}

div#submenu{
    width:150px;
    margin-left: 10px;
    float: left;
    background-color: #ddd;
    border-radius: 6px;
}